*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 10px;
  white-space: nowrap;
}

h1 {
  font-size: 15px;
}

#infoMirror {
  cursor: help;
  color: #000;
  text-decoration: none;
}

#title {
  font-size: 20px;
  padding: 0;
  margin: 0;
  vertical-align: text-bottom;
  margin-right: 20px;
  margin-top: 5px;
}

#dropdown {
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

#dropdown input {
  margin-right: 10px;
}

#switch-container {
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 1px solid #ddd;
  height: auto;
  display: block;
  padding: 10px;
  padding-top: 0px;
}

#switch-container>* {
  display: inline-block;
  vertical-align: middle;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
